<%= form_for(@media) do |f| %>
  <% if @media.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@media.errors.count, "error") %> prohibited this media from being saved:</h2>

      <ul>
      <% @media.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :alias %><br />
    <%= f.text_field :alias %>
  </div>
  <div class="field">
    <%= f.label :menu_label %><br />
    <%= f.text_field :menu_label %>
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.text_field :file %>
  </div>
  <div class="field">
    <%= f.label :media_category_id %><br />
    <%= f.collection_select :media_category_id, MediaCategory.find(:all), :id, :menu_label %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
